 body,
 html {
     padding: 0;
     margin: 0;
     width: 100vw;/*ancho de la ventana del navegador*/
     height: 100vh;/*alto de la aventna del navegador*/
     overflow: hidden;
     /*oculta cualquier contenido que se desborde o sobresalga de los límites (alto o ancho) de su contenedor padre.*/
 }
 
 
 /*ELIMINA TODOS LOS ESTILOS DE LAS LISTAS DEL DOCUMENTO*/
 ul,
 li {
     padding: 0;
     margin: 0;
     list-style: none;
     box-sizing: border-box;
 }

 /*CONTENEDOR DE DIAPOSITIVAS*/
 ul.slider {
     position: relative;
 }

  /*La primera diapositiva siempre va a estar visible*/
 ul.slider li:first-child {
     opacity: 1;
 }

 /*pseudo-clase que selecciona el elemento cuyo id coincide con el fragmento de la URL actual (el texto después del # en la barra de direcciones)*/
 ul.slider li:target {
     opacity: 1;
 }

 nav {
     position: relative;
     top: 200px;
     left: 50px;
 }


 /*  A partir de aquí el CSS es puro diseño visual para hacer una versión más vistosa.*/
 

 ul.slider {
     padding: 30px;
 }

 ul.slider li {
     width: 100vw;/*ocupa el ancho del navegador*/
     height: 100vh;/*ocupa el alto del navegador*/
     position: absolute;
     /*Para que todas las diapositivas ocupen el mismo sitio*/
     left: 0px;
     top: 0px;
     margin: 0;
     padding: 0;
     border: 0;
     opacity: 0;/*por defecto todas las diapositivas están ocultas*/
     transition: opacity .5s;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-weight: bold;
    font-size: calc(1.5rem + 1vw);/*para que el texto aumente con el tamaño de la ventana*/
     text-align: center;
 }

 .slider img {
     width: 100%;
     height: 100%;
 }

 .menu li a {
     padding-top: 30px;
 }

 .slider li p {
     position: absolute;/*para mostrar el texto en la diapositiva*/
     height: 60px;
     width: 70%;
     left: 50px;
     top: 50px;     
     color: white;
 }

 nav {
     width: 100vw;
     position: absolute;
     top: auto;
     right: 0;
     bottom: 0;
     left: 0;
     background: #f1f2f3;
 }

 nav ul {
     display: flex;
     justify-content: space-around;
     flex-wrap: wrap;
 }

 nav ul li {
     display: flex;
     flex-grow: 1;
     flex-wrap: wrap;
     box-sizing: border-box;
 }

 nav a {
     font-size: calc(1.2rem + 1vw);
     text-decoration: none;
     font-weight: bold;
     color: #00324b;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     line-height: 1.8;
     flex-grow: 1;
     text-align: center;
     border-top: 5px solid #00324b;
     border-right: 1px solid #00324b;
     flex-wrap: wrap;
     position: relative;
 }

 nav li:last-child a {/*Al último elemento del menú de dipapositivas le quita el borde derecho*/
     border-right: 0;
 }

 nav a:hover {
     background-color: black;
     color: #fff;
     border-top-color: white;
 }

 nav a:active {
     border-top-color: #f90;
     background: #f90;
     color: #00324b;
 }